.about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  &__main {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 2rem;
    &__info {
        p{
            margin: 4rem;
        }
    }
  }
}
