@font-face {
    font-family: BickhamScriptPro;
    src: url("./../../assets/fonts/BickhamScriptPro/Semibold.otf");
  }
  @font-face {
    font-family: CormorantGaramond;
    src: url("./../../assets/fonts/CormorantGaramond/SemiBold.ttf");
  }
  
  @font-face {
    font-family: SourceSansPro;
    src: url("./../../assets/fonts/SourceSansPro/Regular.otf");
  }