$Colors: (
  seaShell: #f1f1f1,
  darkIndigo: #1f0954,
  purpleHeart: #6928a9,
  zeus: #292319,
  jasper:#D73B3E,
  celestialBlue: #4997D0,
  tigerEye:#E08D3C,
  white:#ffffff,
  bredcrum:#f7f2f2,
  smokeyGrey: #726E6D,
  monsoon:#8A8389,
  black:#000000, 
);

$Fonts: (
  heading: BickhamScriptPro,
  subHeading: CormorantGaramond,
  normalText: SourceSansPro,
);